@model VeterinaryClinicGS.Models.AgendaViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Assign</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Assing" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
          

             

           <div class="form-group">
                    <label asp-for="OwnerId" class="control-label"></label>
                    <select asp-for="OwnerId" asp-items="Model.Owners" class="form-control"></select>
                    <span asp-validation-for="OwnerId" class="text-danger"></span>
               </div>





            
             <div class="form-group">
                <label asp-for="AnimalId" class="control-label"></label>
                <select asp-for="AnimalId" asp-items="Model.Animals" class="form-control"></select>
                <span asp-validation-for="AnimalId" class="text-danger"></span>
            </div>





            <div class="form-group">
                <label asp-for="ServiceTypeId" class="control-label"></label>
                <select asp-for="ServiceTypeId" asp-items="Model.ListServiceTypes" class="form-control"></select>
                <span asp-validation-for="ServiceTypeId" class="text-danger"></span>
            </div>
               
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <select asp-for="RoomId" asp-items="Model.Rooms" class="form-control"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" asp-items="Model.Doctors" class="form-control"></select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>







            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $(document).ready(function () {
            $("#OwnerId").change(function () {
                $("#AnimalId").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetAnimals")',
                    dataType: 'json',
                    data: {ownerId: $("#OwnerId").val()},
                    success: function (animals) {
                        debugger;
                        $("#AnimalId").append('<option value="0">(Select an animal...)</option>');
                        $.each(animals, function (i, animal) {
                            $("#AnimalId").append('<option value="'
                                + animal.id + '">'
                                + animal.name + '</option>');


                                console.log(animals.data);
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve animals.' + ex);
                    }
                });
                return false;
            })
        });
    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            $("#ServiceTypeId").change(function() {
                $("#DoctorId").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetDoctors")',
                    dataType: 'json',
                    data: { serviceTypeId: $("#ServiceTypeId").val() },
                    success: function(doctors) {
                        debugger;
                        $("#DoctorId").append('<option value="0">(Select a doctor...)</option>');
                        $.each(doctors, function(d, doctor) {
                            $("#DoctorId").append(
                                $('<option></option>')
                                .text(doctor.name).val(doctor.id)
                            );

                            console.log(doctors.data);    
                        });
                        console.log(doctors.data);
                    },
                    error: function(ex) {
                        alert('Failed to retrieve doctors.' + ex.statusText);
                    }
                });
                return false;
            });
        });
    </script>




    <script type="text/javascript">
        $(document).ready(function () {
            $("#ServiceTypeId").change(function() {
                $("#RoomId").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetRooms")',
                    dataType: 'json',
                    data: { serviceTypeId: $("#ServiceTypeId").val() },
                    success: function(rooms) {
                        $("#RoomId").append('<option value="0">(Select a room...)</option>');
                        $.each(rooms, function(r, room) {
                           
                            debugger;
                            
                            $("#RoomId").append(
                                $('<option></option>')
                                .text(room.name).val(room.id)
                            );
                        });
                    },
                    error: function(ex) {
                        alert('Failed to retrieve rooms.' + ex.statusText);
                    }
                });
                return false;
            });
        });
    </script>

   
}