@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>












	
	
	<section id="boxes">
		<div class="container">
			<div class="box">
				<img src="foto/Perfil-dos-mvs.png">
				<h3>A nossa equipa</h3>
				<p>A VeterinaryClinicGS conta com uma excelente equipa de especialistas das mais variadas especialidades</p>
			</div>
			
			<div class="box">
				<img src="foto/Consulta-Veterinária.png">
				<h3>Os nossos serviços</h3>
				<p>Disponibilizamos um vasto leque de servicos.</p>
			</div>
			
			<div class="box">
				<img src="foto/cão-e-gato-Veterinária-Atual-destaque.png">
				<h3>Pacientes</h3>
				<p>A VeterinaryClinicGS é especialista no tratamento de todas as especies de animais domesticos, mesmo os mais incomuns.</p>
			</div>
			
		</div>
		
	</section>