@model VeterinaryClinicGS.Models.AddUserViewModel
@{
    ViewData["Title"] = "ChangeUser";
}

<h2>ChangeUser</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post"> 
            <div asp-validation-summary="ModelOnly"></div>

             <partial name="_User" />

            

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-action="ChangePassword" class="btn btn-success">Change Password</a>
            </div>

            <div class="text-success">@ViewBag.UserMessage</div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    
Footer
© 2022 GitHub, Inc.
Footer navigation
Ter
